<div class="bootstrap">
  <div class="container">
    
    <h1>Listing towns</h1>
    <div class="row">
      <a class="atownplus" href="/towns/new"><div class="col-sm-12 townplus">+</div></a>
      
      <% @towns.each do |town| %>
      
        <div class="col-sm-1"></div>
        <div class="col-sm-2 infotowns">
          <div class="row">
              <div class="col-sm-12 name">
                <h2>
                  <%= town.nom %>
                </h2>
              </div>
              <div class="col-sm-7"><%= town.meteo.summary %></div>
              <div class="col-sm-5"><b><%= town.meteo.temperature %> °C</b></div>
              <div class="col-sm-6"><%= town.latitude %></div>
              <div class="col-sm-6"><%= town.longitude %></div>
              <div class="col-sm-12 infotownsactions">
                <button>
                  <%= link_to 'Show', town %>
                </button>
                <button>
                 <%= link_to 'Edit', edit_town_path(town) %>
                </button>
               <button>
                 <%= link_to 'Destroy', town, method: :delete, data: { confirm: 'Are you sure?' } %>
                </button>
              </div>
           </div>
        </div>
      
      <% end %>
    </div>
  </div>
</div>