<!DOCTYPE html>
<html>
<head>
  <title>Workspace Boudinot</title>
  <%= stylesheet_link_tag 'bootstrap' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <div class="bootstrap">
   <div class="container">
    <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">Quentin Boudinot</span>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Étudiants <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/students">Liste</a></li>
            <li class="divider"></li>
            <li><a href="/students/new">Création</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Villes <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/towns">Liste</a></li>
            <li class="divider"></li>
            <li><a href="/towns/new">Création</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
</div>
</div>
  
<%= yield %>

</body>
</html>
